<div class="internship-box">
  <div class="internship-card internship-main-card">
    <h1>Pré-Matrícula em Estágio</h1>
    <div class="checklist-container">
      <%= @checklist %>
      <% @checklists.each do |checklist| %>
        <%= link_to render(:partial => 'partials/checklist', locals: { :checklist => checklist }), {
          :controller => "fga_internship_plugin_profile",
          :action => "answer_form",
          :checklist_id => checklist.id,
          :community_id => params[:community_id],
          fga_internship_plugin_checklists: {checked: true}
        }, class: "internship-checklist-name" %>
      <% end %>
    </div>
    <div id="custom-forms-plugin_submission">

      <div class='form-description'>
        <%= (@form.description || "").html_safe %>
      </div>

      <% if @submission.id.nil? %>
        <% if @form.expired? %>
          <% if @form.will_open? %>
            <h2><%= _('Sorry, you can\'t fill this form yet').html_safe %></h2>
          <% else %>
            <h2><%= _('Sorry, you can\'t fill this form anymore').html_safe %></h2>
          <% end %>
        <% end %>

        <%= render partial: 'shared/internship_form',
                   locals: { form: @form, submission: @submission, :checklist_id => params[:checklist_id], fga_internship_plugin_checklists: {checked: true} } %>

      <% else %>
        <%= fields_for :submission, @submission do |f| %>
          <%= render partial: 'shared/internship_form_submission',
                   locals: { f: f, form: @form, submission: @submission, :checklist_id => params[:checklist_id],
                    fga_internship_plugin_checklists: {checked: true} } %>
        <% end %>

        <div class="button-container">
          <%= button(:back, "Voltar", {
            :controller => "fga_internship_plugin_profile",
            :action => "index",
            :community_id => params[:community_id]
          }, { :class => "internship_button internship_main_button " }) %>
          <%= button(:next, "Matrícula", {
          :controller => "fga_internship_plugin_profile",
          :action => "internship_application",
          :community_id => params[:community_id]
        }, { :class => "internship_button internship_main_button" }) %>
        </div>
      <% end %>
    </div>

  </div>
</div>
