
<% if current_user && current_person.has_permission?('manage_internship', profile) %>
	<%= button(:text, "Pre-enrolled Students",{
		:controller => "fga_internship_plugin_profile", :action => "index_pre_enrolled_students"}, class: "internship-process") do %>
		<%= hidden_field_tag('community_id', block.owner.id) %>
	<% end %>
<% else %>
	<%= button(:text, "Internship Process",{
		:controller => "fga_internship_plugin_profile", :action => "index"}, class: "internship-process") do %>
		<%= hidden_field_tag('community_id', block.owner.id) %>
	<% end %>
<% end %>
