<% self.extend(CustomFormsPlugin::Helper) %>
<div class="internship-box">
  <div class='form-submission internship-card internship-main-card'>
    <% form.fields.each do |field| %>
      <%= display_custom_field(field, submission, f.object_name).html_safe %>
    <% end %>
  </div>
</div>
