<%= error_messages_for :submission %>

<%= form_for :submission, url: { controller: 'fga_internship_plugin_profile', action: 'answer_form',
  id: form.identifier, profile: @profile.identifier }, :html => { :class => 'query-form' } do |f| %>

  <% if !user %>
    <%= required labelled_form_field _('Name'), text_field_tag(:author_name, submission.author_name) %>
    <%= required labelled_form_field _('Email'), text_field_tag(:author_email, submission.author_email) %>
  <% end %>

  <%= render :partial => 'shared/internship_form_submission',
             :locals => { form: form, submission: submission, f: f } %>

  <div class="notify"><%= _("Your e-mail will be visible to this form's owners.") %></div>
  <%= button_bar do %>
    <%= button(:back, "Voltar", {
      :controller => "fga_internship_plugin_profile",
      :action => "index",
      :community_id => params[:community_id]
    }, { :class => "internship_button internship_main_button " }) %>
    <% if form.expired? %>
      <%= submit_button :save, _('Submeter pré-matrícula'), disabled: '', class: 'disabled',
                        data: { confirm: _('Are you sure your want to submit your vote?') } %>
    <% else %>
      <%= submit_button :save, _('Submeter pré-matrícula'),
                        data: { confirm: _('Are you sure your want to submit your vote?') } %>
    <% end %>
  <% end %>
<% end %>
